:root {
  --text: #ffe6d9;
  --featured-item-background: #ffe6d9;
  --featured-item-border-color: #4b4453;
  --success-color: rgba(32, 120, 104, 1);
  --failure-color: rgba(222, 135, 117, 1);

  --dracula-background: #282A36;
  --dracula-foreground: #F8F8F2;
}

body {
  background-image: linear-gradient(to right top, #091a1a, #0a1c1c, #0b1d1d, #0c1f1f, #0c2121, #0c2323, #0d2524, #0d2726, #0d2928, #0e2b2a, #0e2d2c, #0e2f2e);
}

/*
  Good     artists copy,
  Great    artists steal,
  Greatest artists copy then paste
*/
.effect ul li *:hover {
  color: #FBFAFC;
}

.effect ul li *:hover::after, .effect ul li a:hover::before {
  width: 100%;
  left: 0;
}

.effect ul li *::after, .effect ul li a::before {
  content: '';
  position: absolute;
  top: calc(100% + 5px);
  width: 0;
  right: 0;
  height: 3px;
}

.effect ul li *::before {
  -webkit-transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  -o-transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  background: #845EC2;
}

.effect ul li *::after {
  -webkit-transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  -o-transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #2FFFAD;
}

.effect ul li *.active:after {
  background: #2FFFAD;
  width: 100%;
  left: 0;
}

.effect ul li *.active:before {
  z-index: 2;
}

a {
  text-decoration: none;
  color: var(--text);
}

button {
  border-radius: 5px;
  border-style: none;
}

header {
  position: sticky;
  top: 0;
}

header,
footer {
  z-index: 999;
  padding: 0 2rem;
}

:is(
  nav,
  footer,
  .sponsors
) ul li {
  display: inline;
}

nav ul li {
  margin: 0 .1vw;
}

.content > * {
  margin: 5rem 0;
}

.short-lorem::before {
  content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis nunc eget lorem dolor.';
}

.long-lorem::before {
  content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut placerat orci nulla pellentesque dignissim. Felis imperdiet proin fermentum leo vel orci porta non. Facilisis leo vel fringilla est ullamcorper eget. Purus in mollis nunc sed id semper risus.';
}

.short-lorem,
.long-lorem {
  text-align: justify;
  font-size: 1.25em;
}

.editor-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editor {
  background-color: var(--dracula-background);
  color: var(--dracula-foreground);
  border: 0;
  padding: 1vh;
  margin-top: 0;
  width: 45vw;
  height: 85vh;
  border-radius: .5rem;
  resize: none;
}

.editor:focus {
  outline: 0;
}

.text-color {
  color: var(--text) !important;
}

#copyright {
  color: var(--text);
  font-size: 1.1rem;
}
