:root {
  --background: #303030;
  --text: #fafafa;
  --featured-item-background: #a26675;
  --featured-item-border-color: #4b4453;
}

body {
  margin: 0;
}

header,
footer {
  background-color: var(--background);
  padding: 0 2rem 0 2rem;
}

a {
  text-decoration: none;
  color: var(--text);
}

:is(
  nav,
  footer,
  .sponsors
) ul li {
  display: inline;
}

nav ul li {
  margin: 0 5px 0 5px;
}

.featured-item {
  background-color: var(--featured-item-background);
}

.featured-header {
  font-weight: bold;
}

.featured-header,
.featured-content {
  padding: 0 1.1rem 0 1.1rem;
}

.featured-content {
  text-justify: auto;
}

.featured-footer {
  font-size: 1.25rem;
  padding: 0;
}

.featured-rating {

}

.featured-rating * {
  display: inline;
}

.sponsors ul li {
  margin: 0 1.25vw 0 1.25vw;
}

.right-side div ul li {
  height: 2rem;
}

.footer-middle-section div {
  position: relative;
  bottom: 0;
}

#copyright {
  color: var(--text);
  font-size: 1.1rem;
}
