:root {
  --category-color: rgba(67, 101, 90, .7);
}

.product-title {
  font-size: 2.5rem;
}

.product-price {
  font-size: 1.75rem;
}

.product-title,
.product-price {
  margin: 0;
}

.category {
  padding: 1vh 1vw 2vh 1vw;
  border-radius: 5px;
  background-color: var(--category-color);
}
